In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv("student-mat.csv", sep=";", usecols=['age', 'Medu', 'Fedu', 'freetime', 'health', 'absences', 'guardian', 'G1', 'G2', 'G3'])

In [3]:
data.head()

   age  Medu  Fedu guardian  freetime  health  absences  G1  G2  G3
0   18     4     4   mother         3       3         6   5   6   6
1   17     1     1   father         3       3         4   5   5   6
2   15     1     1   mother         3       3        10   7   8  10
3   15     4     2   mother         2       5         2  15  14  15
4   16     3     3   father         3       5         4   6  10  10

In [4]:
data['guardian'].unique()

array(['mother', 'father', 'other'], dtype=object)

In [5]:
data_encoded = pd.get_dummies(data, columns=['guardian'], prefix='guardian')

In [6]:
data_encoded.head()

,age,Medu,Fedu,freetime,health,absences,G1,G2,G3,guardian_father,guardian_mother,guardian_other
0,18,4,4,3,3,6,5,6,6,False,True,False
1,17,1,1,3,3,4,5,5,6,True,False,False
2,15,1,1,3,3,10,7,8,10,False,True,False
3,15,4,2,2,5,2,15,14,15,False,True,False
4,16,3,3,3,5,4,6,10,10,True,False,False

In [7]:
data_encoded = pd.get_dummies(data, columns=['guardian'], prefix='guardian', drop_first=True)

In [8]:
data_encoded.head()

,age,Medu,Fedu,freetime,health,absences,G1,G2,G3,guardian_mother,guardian_other
0,18,4,4,3,3,6,5,6,6,True,False
1,17,1,1,3,3,4,5,5,6,False,False
2,15,1,1,3,3,10,7,8,10,True,False
3,15,4,2,2,5,2,15,14,15,True,False
4,16,3,3,3,5,4,6,10,10,False,False

In [9]:
data_encoded['guardian_mother'] = data_encoded['guardian_mother'].astype(int)

In [10]:
data_encoded = data_encoded.astype(int)

In [11]:
X, y = np.array(data_encoded.drop(['G3'], axis=1)), np.array(data_encoded['G3'])

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [13]:
model = LinearRegression()
model.fit(X_train, y_train)
acc = model.score(X_test, y_test)
print(acc)

0.7711196346364535

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [15]:
model = LinearRegression()
model.fit(X_train, y_train)
acc = model.score(X_test, y_test)
print(acc)

0.8421985789897012